html {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  color: #333;
  background: #151515 url('../images/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  @media (max-width: 1024px) {
    background-image: none;
  }
  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

.sp_only {
  @media (max-width: 768px) {
    display: block;
  }
  @media (min-width: 769px) {
    display: none;
  }
}

.pc_only {
  min-height: 0%;
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 769px) {
    display: block;
  }
}

// <header>
.header {
  padding: 170px 30px 90px;
  letter-spacing: 0.1em;
  color: #fff;
  @media (max-width: 768px) {
    padding-top: 60px;
  }

  &_hedTtl {
    margin-bottom: 50px;
    font-size: 2.2rem;
    @media (max-width: 768px) {
      font-size: 1.7rem;
    }
    &::before,&::after {
      content: "";
      display: inline-block;
      width: 140px;
      height: 1px;
      margin: 0 20px;
      border: 1px solid #fff;
      vertical-align: middle;
      @media (max-width: 768px) {
        display: block;
        width: 80%;
        margin: 10px auto;
      }
    }
  }
  &_mainTtl {
    margin-bottom: 40px;
    font-size: 7.6rem;
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 5.3rem;
    }
  }
  &_footTtl {
    margin-bottom: 50px;
    font-size: 1.6rem;
    color: #888;
    @media (max-width: 768px) {
      letter-spacing: normal;
      margin-bottom: 60px;
    }
  }
  &_box {
    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      display: block;
    }
    &_item {
      width: 200px;
      display: block;
      margin: 0 15px;
      padding: 20px 0;
      font-size: 1.2rem;
      background-color: gray;
      border-radius: 5px;
      transition: opacity .3s;
      @media (max-width: 768px) {
        margin: 0 auto;
        &.header_box_item:first-of-type {
          margin-bottom: 20px;
        }
      }
      &:hover {
        opacity: .8;
      }
      &_oreng {
        @extend .header_box_item;
        background-color: orange;
      }
    }
  }
}
// </header>

// <main>
.contentsTtl {
  display: inline-block;
  margin-bottom: 50px;
  padding-bottom: 15px;
  letter-spacing: 0.05em;
  font-size: 4.0rem;
  font-weight: 700;
  position: relative;
  @media (max-width: 768px) {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }
  &.worksTtl {
    margin-bottom: 70px;
  }
  &::before,&::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 5px;
    border-bottom: 1px solid #333;
  }
  &::after {
    bottom: 0;
  }
  &.white {
    &.contentsTtl::before,&.contentsTtl::after {
      border-color: #fff;
    }
  }
}
// <ABOUT ME>
.about {
  padding: 110px 30px;
  background-color: #fff;
  @media (max-width: 768px) {
    padding: 100px 30px;
  }
  &_txt {
    font-size: 1.4rem;
    line-height: 2.5;
    @media (max-width: 768px) {
      line-height: 1.8;
    }
    &_hed {
      @extend .about_txt;
      margin-bottom: 40px;
    }
  }
}
// </ABOUT ME>

// <works>
.works {
  padding: 110px 0 80px;
  color: #fff;
  background-color: #373634;
  &_box {
    display: flex;
    width: (100%/4);
    flex-direction: column;
    min-height: 0%;
    & img {
      min-height: 0%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    &:nth-of-type(odd) {
      flex-direction: column-reverse;
      min-height: 0%;
    }
    &_item {
      min-height: 0%;
      & img {
        display: block;
        min-height: 0%;
      }
      &.desc {
        position: relative;
        min-height: 0%;
        &::after {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 100%;
          height: 100%;
          opacity: .6;
          z-index: 0;
          background-color: #333;
          min-height: 0%;
        }
        & img {
          // -webkit-filter: opacity(20%);
          // filter: opacity(20%);
          min-height: 0%;
        }
      }
      &_desc {
        display: inline-block;
        width: 100%;
        line-height: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 1;
        & p {
          display: inline-block;
          width: 100%;
          margin-bottom: 20px;
          font-size: 1.2rem;
        }
        & a {
          display: inline-block;
          width: 60%;
          padding: 3px;
          border: 1px solid #fff;
          border-radius: 5px;
          background-color: rgba(255, 255, 255, 0.2);
          transition: opacity .2s;
          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }
}
.box_container {
  display: flex;
  // min-height: 0%;
  @media (max-width: 768px) {
    display: block;
  }
}
// <works>

// <skills>
.skills {
  padding: 110px 0 120px;
  background-color: #fff;
  &_box {
    display: flex;
    width: 80%;
    margin: 0 auto;
    @media (max-width: 768px) {
      display: block;
    }
    &_item {
      width: (100%/3);
      @media (max-width: 768px) {
        width: 100%;
      }
      &:not(:last-child)  {
        @media (max-width: 768px) {
          margin-bottom: 40px;
        }
      }
      &_icon {
        width: 150px;
        height: 150px;
        margin-bottom: 30px;
        line-height: 142px;
        font-size: 8.0rem;
        color: #f1b400;
        border: 4px solid #f1b400;
        border-radius: 50%;
        @media (max-width: 768px) {
          font-size: 5.0rem;
          width: 100px;
          height: 100px;
          margin-bottom: 30px;
          line-height: 92px;
        }
      }
      &_ttl {
        margin-bottom: 30px;
        font-size: 2.0rem;
        @media (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
      &_txt {
        line-height: 2;
        font-size: 1.4rem;
      }
    }
  }
}
// </skills>

// <contact>
.contact {
  padding: 110px 0 150px;
  color: #fff;
  &_box {
    width: 50%;
    margin: 50px auto 0;
    @media (max-width: 768px) {
      width: 80%;
    }
    &_name {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      padding: 15px;
      color: #fff;
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.05);
      &:focus {
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
      }
    }
    &_message {
      @extend .contact_box_name;
      margin-bottom: 40px;
    }
    &_btn {
      display: inline-block;
      width: 200px;
      margin: 0 auto;
      padding: 15px 0;
      color: rgba(255, 255, 255, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 5px;
      background-color: transparent;
    }
  }
}
// </contact>
// </main>

// <footer>
footer {
  .copyright {
    padding-bottom: 15px;
    font-size: 1.3rem;
    color: #fff;
  }
}
// </footer>