img {
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #d03c56;
}